@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

.swiper {
    padding-left: 4px;
    padding-right: 4px;
}

.label {
    @apply block text-sm font-semibold text-gray-700;
}

.input {
    @apply mt-2 w-full rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200;
}

.input-file {
    @apply mt-2 w-full rounded-lg border border-dashed border-gray-300 p-3 text-sm;
}
